.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  max-width: 540px;
  text-align: center;
  z-index: 3;
}

.home__img {
  margin-bottom: 1.5rem;
}

.home__name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.home__social {
  display: block;
  margin: 1rem;
}

.home__social_link {
  color: grey;
  font-size: 1.3rem;
  padding: 0 1rem;
  transition: color 0.3s;
}

.home__social_link:hover {
  color: brown;
}

.scroll__down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  text-align: center;
}

.home__scroll-name {
  font-size: var(--small-font-size);
}

@keyframes ani-mouse {
  0%, 100% {
    top: 29%;
  }
  15%, 50% {
    top: 50%;
  }
}

.mouse {
  border: 2px solid #454360;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.75rem;
  border-radius: 1rem;
  position: relative;
}

.wheel {
  background-color: grey;
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

.shapes {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: scale(1.2);
}

.shape {
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .home__social_link {
    font-size: 1.25rem;
  }
}
